<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>Sounds/Menu_1.wav</key>
		<string>Sounds/Menu_1.m4a</string>
		<key>Sounds/plasmaCannon_1.wav</key>
		<string>Sounds/plasmaCannon_1.caf</string>
		<key>Sounds/plasmaCannon_2.wav</key>
		<string>Sounds/plasmaCannon_2.caf</string>
		<key>Sounds/plasmaCannon_3.wav</key>
		<string>Sounds/plasmaCannon_3.caf</string>
		<key>Sounds/plasmaCannon_4.wav</key>
		<string>Sounds/plasmaCannon_4.caf</string>
		<key>Sounds/thud.wav</key>
		<string>Sounds/thud.caf</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
